{
	admin off
	auto_https off
}

:80 {
	encode zstd gzip

	handle /api/health {
		reverse_proxy 127.0.0.1:3000
	}

	handle {
		reverse_proxy 127.0.0.1:3000 {
			header_up X-Real-IP {http.request.header.CF-Connecting-IP}
			header_up X-Forwarded-Proto {http.request.header.X-Forwarded-Proto}
		}
	}
}
